{% load static %}
<html>
<head>
	<title>Metro Event</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/index_organizer.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="index_organizer">METRO EVENTS</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="index_organizer">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="events_organizer">Events</a>
      </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" aria-label="Search">
        <button class="btn success" type="submit">Search</button>
      </form>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
           <a href="notif_organizer" class="nav-link">
            <span>Notifications</span>
          </a> 
      </li> 
      <li class="nav-item">
        <!-- <a class="nav-link" href="profile_organizer">USER<span class="sr-only">(current)</span></a> -->
        <div class="dropdown">
          {% for user in user %}
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.firstName}} {{user.lastName}}
          </button>
          {% endfor %}
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="profile_organizer">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="create_event">Create Event</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://group11-metroevents.azurewebsites.net">Logout</a>
          </div>
        </div>
      </li>
    </ul>
  </form>
  </div>
</nav>

<br>
<!--EVENTS-->
<div class="container">
  <h2 style="color: white;">Joined Events</h2>
  <div class="row">
    {%  for event in events %}
      <div class="col-lg-4">
          <div class="card card-margin">
              <div class="card-header no-border">
                  <h5 class="card-title">{{event.event_name}}</h5>
              </div>
              <div class="card-body pt-0">
                  <div class="widget-49">
                    <div class="widget-49-title-wrapper">
                      <div class="widget-49-date-primary">
                        <span class="widget-49-date-day">{{event.event_date|date:"d"}}</span>
                        <span class="widget-49-date-month">{{event.event_date|date:"M"}}</span>
                      </div>
                      <div class="widget-49-meeting-info">
                          <span class="widget-49-pro-title">Event ID: {{event.id}}</span>
                          <span class="widget-49-pro-title">Event Date: {{event.event_date}}</span>
                          <span class="widget-49-pro-title">Number of Participants: {{event.num_participants}}</span>
                          <span class="widget-49-pro-title">Number of Interested: {{event.num_interested}}</span><br>
                      </div>
                    </div>
                    <div class="widget-49-meeting-action text-center">
                      <button type="button" class="btn btn-sm btn-flash-border-primary" data-toggle="modal" data-target="#leaveEventModal-{{event.id}}">LEAVE EVENT</button>
                    </div>
                  </div>
              </div>
              <!---Leave Event Modal-->
              <div class="modal fade" id="leaveEventModal-{{event.id}}" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">Leave {{event.event_name}} Event</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="deleteForm" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <div hidden>
                          <input type="text" id="event_id" name="event_id" value="{{event.id}}">
                        </div>
                        Are you sure you want to leave event?
                      </div>
                      <div class="modal-footer">                    
                        <button type="button" class="btn btn-info " data-dismiss="modal">NO</button>
                        <button type="submit" class="btn btn-danger" id="btnLeave" name="btnLeave">YES</button>
                      </div>  
                    </form>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endfor %}
  </div>
</div><!-- container end.// -->
<br>
<div class="container">
  <h2 style="color: white;">My Events</h2>
  <div class="row">
    {%  for mine in owned %}
      <div class="col-lg-4">
          <div class="card card-margin">
            <div class="card-header no-border">
                <h5 class="card-title">{{mine.event_name}}</h5>
            </div>
            <div class="card-body pt-0">
              <div class="widget-49">
                <div class="widget-49-title-wrapper">
                  <div class="widget-49-date-primary">
                    <span class="widget-49-date-day">{{mine.event_date|date:"d"}}</span>
                    <span class="widget-49-date-month">{{mine.event_date|date:"M"}}</span>
                  </div>
                  <div class="widget-49-meeting-info">
                    <span class="widget-49-pro-title">Event ID: {{mine.id}}</span>
                    <span class="widget-49-pro-title">Event Date: {{mine.event_date}}</span>
                    <span class="widget-49-pro-title">Number of Participants: {{mine.num_participants}}</span>
                    <span class="widget-49-pro-title">Number of Interested: {{mine.num_interested}}</span><br>
                  </div>
                </div>
                <div class="widget-49-meeting-action text-center">
                  <button type="button" class="btn btn-sm btn-flash-border-primary" data-toggle="modal" data-target="#viewParticipantsModal-{{mine.id}}" style="margin-bottom: 3%">VIEW PARTICIPANTS</button>
                  <button type="button" class="btn btn-sm btn-flash-border-primary" data-toggle="modal" data-target="#cancelEventModal-{{mine.id}}">CANCEL EVENT</button>
                </div>
              </div>
            </div>
          </div>
          <!---Show Participants Modal-->
          <div class="modal fade" id="viewParticipantsModal-{{mine.id}}" tabindex="-1" role="dialog" aria-labelledby="viewmodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Participants of {{mine.event_name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <ol>
                    {% for participant in participants %}
                    {% if participant.event_id == mine.id %}
                    <li>{{participant.firstName}} {{participant.lastName}}</li>
                    {% endif %}
                    {% endfor %}
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!---Cancel Event Modal-->
          <div class="modal fade" id="cancelEventModal-{{mine.id}}" tabindex="-1" role="dialog" aria-labelledby="deletemodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirm Cancellation of {{mine.event_name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form id="deleteForm" method="post">
                  {% csrf_token %}
                  <div class="modal-body">
                    <div hidden>
                      <input type="text" id="mine_id" name="mine_id" value="{{mine.id}}">
                    </div>
                    Are you sure you want to cancel event?
                  </div>
                  <div class="modal-footer">                    
                    <button type="button" class="btn btn-info " data-dismiss="modal">NO</button>
                    <button type="submit" class="btn btn-danger" id="btnCancel" name="btnCancel">YES</button>
                  </div> 
                </form>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div><!-- container end.// -->

</body>
